
	
<body>

<!-- products-breadcrumb -->
	<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
				<li>Households</li>
			</ul>
		</div>
	</div>
<!-- //products-breadcrumb -->
<!-- banner -->
	<div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
			   </div> 
			   <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav nav_1">
						<li><a href="/grocery">Grocery</a></li>
						
						<li class="dropdown mega-dropdown active">
							<a href="/vegetables" class="dropdown-toggle" data-toggle="dropdown">Vegetables & Meat<span class="caret"></span></a>			
						</li>
						<li><a href="/doctors">Doctors</a></li>
						<li><a href="/taxi">Taxi & Auto</a></li>
						<li class="dropdown">
							<a href="/medicen" class="dropdown-toggle" data-toggle="dropdown">Medicen<span class="caret"></span></a>

						</li>
						<li class="dropdown">
							<a href="/restaurants" class="dropdown-toggle" data-toggle="dropdown">Restaurants<span class="caret"></span></a>
								
						</li>
						<li><a href="/bakery">Bakery& Snacks</a></li>
					</ul>
				 </div><!-- /.navbar-collapse --><!-- /.navbar-collapse -->
			</nav>
		</div>
		<dir class="w3l_banner_nav_right">
			<div class="w3l_banner_nav_right_banner4">
				<h3>Doctors Availablity<span class="blink_me"></span></h3>
			</div>
			<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
				<h3>Doctors Details</h3>
		    </div>	
		</div>	
<div class="container">	
    <div class="agile_top_brands_grids">
		   
	    <div class="col-md-3 top_brand_left">
		    <div class="hover14 column">
			     <div class="agile_top_brand_left_grid">
						{{#each doctors}}	
				    <div class="agile_top_brand_left_grid1">
					     <figure>
						    <div class="snipcart-item block" >
							    <div class="snipcart-thumb">
								    <a href="single.html"><img title=" " alt=" " src="/product-images/{{this._id}}.jpg" /></a>		
									    <h3>{{this.Name}}</h3>
									    <h4>{{this.Category}}</h4>
										<h4>{{this.Avabality}}</h4>
										<h4>{{this.Hospital}}</h4>
							    </div>
								 <div class="snipcart-details top_brand_home_details">
									    <input type="submit" name="submit" value="Book now" class="button" />
							        </div>
						     </div>
					     </figure>
				    </div>
			    </div>
		    </div>
	    </div>
	     {{/each}}
    </div>
</div>
				